* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

.mainTextInput {
	display: flex;
	flex-direction: column;
	margin: 10vh auto 3vh auto;
	padding: 2vw;
	resize: none;
	width: 80vw;
	height: 50vh;
	border: 4px solid #070606;
	border-radius: 1.2vh;
	font-size: 2em;
}

textarea::-webkit-scrollbar {
	background-color: #070606;
	border: 1px solid white;
	border-radius: 999px;
	width: 1.6vh;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #ffa500;
	width: 3vw;
	height: 3vw;
	border-radius: 999px;
	margin: 1px;
}

.textSubmitButton {
	margin: 2.5vw auto;
	width: 27vw;
	height: 6vh;
	border: 0.5vh solid #070606;
	border-radius: 1.25vw;
	background-color: aquamarine;
	box-shadow: 0 0.7vh #666;
	text-align: center;
}
.textSubmitButton:active {
	background-color: #198a79;
	box-shadow: 0 0.2vh #666;
	transform: translateY(0.5vh);
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.frontpageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 88vh;
	width: 100vw;
	margin-top: 5vh;
}

.CTA-info {
	font-size: 4vh;
	padding: 0 2vw;
}

.wideButton {
	display: flex;
	justify-content: center;
	background-color: #070606;
	border: none;
	color: #f5f5f5;
	padding: 2.7vh 23vw;
	text-decoration: none;
	font-size: 3vh;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	border-radius: 1.2vw;
	width: 30vw;
	margin: 0 0 4vh 0;
	cursor: pointer;
	box-shadow: 0 0.7vh #999;
	user-select: none;
}

.wideButton:hover {
	background-color: #181515;
}

.wideButton:active {
	background-color: #070606;
	box-shadow: 0 0.2vh #666;
	transform: translateY(0.7vh);
}

.buttonGroup {
	margin: 5vh;
}
